.template-part.our-publications {
    background-color: #fcfcfc;
    
    .container {
        padding: 90px 0px;
        
        .row {
            width: 80%;
            margin: auto;
            
            @media only screen and ( max-width: 767px ) {
                .col-sm-4:nth-last-of-type(2) {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
            
            .publications {
                .name {
                    color: #a57b83;
                    margin-bottom: 20px;
                    font-size: 13px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.47px;
                    font-family: "Sackers Gothic Std"; //SackersGothicStd_Heavy
                }
                
                .description {
                    
                    p {
                        font-size: 14px;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 20px;
                        letter-spacing: 0.21px;
                    }
                    
                    strong {
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: 1.5px;
                        font-family: Paulo_Goode_Didonesque_Medium;
                    }
                    
                    a {
                        color: #8586bf;
                    }
                }
            }
        }
    }
}