.template-part.text-block-single-work {
    .part-name {
        margin-bottom: 15px !important;
    }
    
    .description {
        font-size: 16px !important;
        font-weight: 300 !important;
        line-height: 28px !important;
        letter-spacing: 0.24px !important;
    }
}