body.error404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    header#masthead {
        padding-top: 60px;
        padding-bottom: 0px;
    }
}