body.blog,
body.date,
body.category,
body.search-results {
    .container {
        max-width: 1440px;

        @media only screen and (max-width: 1440px) {
            width: 100%;
        }

        padding: 0px;

        .row {
            margin: 0px !important;
        }
    }

    @media screen and (max-width: 800px) {
        .subscription_form {
            .container {
                width: 80% !important;
            }
        }
    }

    .article-roll-wrapper {
        padding-right: 30px;
        margin-bottom: 50px;

        .post-thumb-wrap {
            border: 1px solid #dedede;
        }

        @media screen and (max-width:991px) {

            .pull-right,
            .pull-left {
                float: none !important;
            }

            .post-thumb-wrap {
                max-width: none !important;
                margin-left: 0 !important;
            }

            .block-after-image {
                margin-top: 0;
            }

            article:after {
                display: none !important;
            }
        }
    }


    .sidebar.archive-sidebar {
        padding: 0px;

        .blog-search,
        .other-sidebar {
            max-width: 445px;
            width: 100%;
            float: right;
        }

        .blog-search {
            position: relative;
            box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
            background-color: rgba(130, 130, 130, 0.1);
            padding: 25px 30px;
            margin-top: 70px;
            margin-bottom: 70px;

            &:after {
                position: absolute;
                content: url(../img/search-drop.png);
                top: -75px;
                left: 0;
            }

            .widget,
            label {
                margin: 0px;
            }
        }

        .jr-insta-datacontainer {
            padding: 0px;
            margin-top: 20px !important;

            .post-link {
                display: inline-block;
                width: 100%;
                height: 100%;
            }

            a.follow-instagram {
                display: inline-block;
                width: 100%;
                background-color: black;
                color: white;
                text-align: center;
                font-family: "Sackers Gothic Std";
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.97px;
                padding: 8px 0px;
            }

        }

        h5 {
            color: #6f71b4;
            font-family: "Sackers Gothic Std";
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.97px;
            margin: 15px 0px;
        }

        .jr-insta-slider {
            h4 {
                display: inline-block;
                position: relative;
                padding-right: 30px;

                &:after {
                    content: url('../img/insta-icon.png');
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    margin-top: 5px;
                }
            }

            ul {
                width: 100% !important;
                transform: none !important;

                li.clone {
                    display: none !important;
                }
            }
        }

        .widget {
            margin-bottom: 65px;
        }

        .widget_text {
            p {
                a {
                    background-color: #000;
                    color: #fff;
                    display: inline-block;
                    font-family: Sackers Gothic Std;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: .97px;
                    padding: 8px 0;
                    text-align: center;
                    text-transform: uppercase;
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }

        .widget_archive {
            ul {
                li {
                    width: 500px;
                    font-size: 14px;
                    line-height: 35px;
                    border-top: 1px solid rgba(0, 0, 0, 0.5);
                    margin-bottom: 0;

                    &:last-of-type {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    }

                    @media only screen and (min-width: 1441px) {
                        width: 100%;
                    }

                    a {
                        color: #2e2e2e;
                        font-size: 14px;
                        line-height: 35px;
                        display: inherit;
                        padding-left: 5px;
                    }

                    a:hover {
                        background-color: #ffffff;
                        text-decoration: none;
                        font-family: "Fira Sans Medium";
                    }

                    &.current {
                        a {
                            background-color: #ffffff;
                            text-decoration: none;
                            font-family: "Fira Sans Medium";
                        }
                    }

                }
            }
        }

        .sidebar-sub_title {
            color: #6f71b4;
            font-family: "Sackers Gothic Std";
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.97px;
            padding-top: 10px;
        }
    }

    .other-sidebar {
        background-color: #FBF8F9;
        padding: 40px 50px;
        overflow: hidden;
    }
}





.blog-terms-wrap {
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        line-height: 0;

        &>li {
            display: inline-block;
            padding: 0 2rem;
            line-height: 0px;

            a {
                position: relative;
                font-family: "Sackers Gothic Std";
                font-size: 14px;
                text-transform: uppercase;
                display: inline-block;
                transition: ease-in-out all .7s;
                color: $brand-grey;
                text-decoration: none !important;
                overflow: hidden;
                padding-bottom: 5px;

                padding: 0px;
                line-height: 31px;

                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background-color: $black;
                    transform: scaleX(0);
                    transition: ease-in-out all .7s;
                    left: 0;
                    bottom: 0;
                    transform-origin: left;
                }

                &:hover {
                    color: $black;

                    &:after {
                        transform: scaleX(1);
                    }
                }
            }

            &.current_link {
                a {
                    color: $black;

                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.archive-sidebar {
    h4.widgettitle {
        font-size: 26px;
        text-align: left;
        line-height: 30px;
    }
}


.page-blog {
    padding-top: 35px;
    margin-bottom: 30px;

    .excerpt p:not([class]) {
        letter-spacing: 0.24px;
        font-family: Fira-Sans-Light;
    }

    .link-more {
        margin-top: 20px;

        .more-link {
            margin-left: 0;
            font-size: 13px;
            position: relative;
            padding-right: 10px;

            &::before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4.5px 0 4.5px 5px;
                border-color: transparent transparent transparent #000000;
                position: absolute;
                top: 8px;
                right: 0;
            }
        }
    }


    .blog-menu-categories {
        padding-left: 15px;
        padding-right: 15px;


        @media only screen and (max-width: 800px) {
            height: 124px;
            overflow: hidden;
        }


        ul {
            width: 100%;
            max-width: 100%;

            li.current {
                background-color: rgba(0, 0, 0, 0);
            }

            li {
                width: auto !important;
                margin-right: 25px
            }
        }
    }

    .block-breadcrumbs {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 800px) {
            flex-direction: column;
        }

        .widget_search {
            min-width: 23%;

            @media only screen and (max-width: 800px) {
                min-width: 100%;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .blog-menu-categories.open {
            height: auto;
        }
    }

    .breadcrumbs {
        margin: 10px 0px;

        a,
        .sep,
        .current {
            color: #000;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: .97px;
            position: relative;
            text-transform: uppercase;
        }
    }

    article {
        margin-bottom: 65px;
        position: relative;

        &:after {
            position: absolute;
            height: 1px;
            background-color: #000;
            width: 100%;
            content: "";
            left: 0;
            top: 75px;
        }

        .block-after-image {
            margin-top: 100px;
            box-sizing: border-box;

            .post-roll-title {
                max-width: 303px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;

                h3 {
                    margin-bottom: 20px;

                    a {
                        position: relative;
                        display: inline-block;
                        padding-bottom: 5px;
                        font-family: Paulo_Goode_Didonesque_Medium;
                        color: black;
                        font-weight: normal;
                        text-decoration: none !important;
                        letter-spacing: 0.99px;
                        line-height: 1.2;
                        // &:after {
                        //   content:"";
                        //   position:absolute;
                        //   bottom:0;
                        //   left:0;
                        //   height:2px;
                        //   width:100%;
                        //   background-color:$black;
                        //   transition:ease-in-out all .7s;
                        //   transform:scaleX(0);
                        //   transform-origin:left;
                        // }
                        // &:hover {
                        //   &:after {
                        //     transform:scaleX(1);
                        //   }
                        // }
                    }
                }

                .excerpt {
                    p {}
                }
            }
        }

        .post-roll-meta {
            margin-left: 30px;

            .link_post {
                margin-top: 10px;
            }
        }
    }

    input[type='search'] {
        border: none !important;
        height: 38px;
        padding: 10px 0px 10px 15px;
        font-weight: normal;
    }

    .search-form {
        label {
            width: 100%;
            position: relative;

            input[type='search'] {
                width: 100%;
                padding: 10px 10px 10px 25px;
                height: auto;
                background-color: $white;
                font-size: 16px;
                padding: 0px;
                line-height: 40px;
                padding-left: 20px;
            }

            input[type='search'].search-field::-webkit-input-placeholder,
            input[type='search'].search-field::-moz-placeholder,
            input[type='search'].search-field::-ms-input-placeholder,
            input[type='search'].search-field::-moz-placeholder {
                color: $off-black;
            }

            input::placeholder {
                color: $off-black !important;
            }



        }

        /*        label:before {
            content: "\f002";
            font-family: FontAwesome;
            font-size: 16px;
            position: absolute;
            top: 7px;
            left:0;
            font-weight: normal !important;
            color: $off-black;
            }*/

    }

    .search-submit {
        background-color: #000;
        color: #fff;
        font-size: 13px;
        height: 40px;
        line-height: 40px;
        margin-right: 0;
        padding: 0 29px !important;
        text-transform: uppercase;
        border: 0px;
        display: none !important;
    }

    @media only screen and (min-width: 992px) and (max-width: 1380px) {
        form[role="search"] {
            label {
                display: inline-block;
                width: 100%;

                input[type='search'] {
                    width: 100%;
                }
            }

            input[type='submit'] {
                display: inline-block;
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        form[role="search"] {
            text-align: center;
        }
    }

    .pagination {
        .nav-links {
            text-align: center;
        }

        a,
        span.page-numbers.current {
            position: relative;
            display: inline-block;
            padding-bottom: 5px;
            color: #000;
            font-size: 14px;
            font-family: "Sackers Gothic Std";
            font-weight: 500;
            letter-spacing: .97px;
            margin-top: 17px;
            text-transform: uppercase;
            text-decoration: none !important;

            &:after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: $black;
                transition: ease-in-out all .7s;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transform-origin: left;
            }

            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
        }

        .prev {
            margin-right: 15px;
        }

        .next {
            margin-left: 30px;
        }

        span.page-numbers.current {
            text-decoration: underline;
        }

        .page-numbers {
            margin-right: 6rem;

            @media screen and (max-width: 768px) {
                margin-right: 1.5rem;
            }
        }
    }
}

body.archive.category,
body.search,
body.blog {

    .blog-cat-list-mobile {
        max-width: 80% !important;
    }

    #masthead {
        .header_title {
            color: #fff;
            font-family: Paulo_Goode_Didonesque_Medium_Italic;
            font-size: 64px;
            font-style: italic;
            font-weight: 500;
            letter-spacing: .92px;
            line-height: 76px;
            margin-bottom: 37px;
        }

        .header_subtitle {
            color: white;
            font-family: "Sackers Gothic Std";
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 1.6px;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
    }

    .header-single-work {
        background: linear-gradient(#f4f3f3, white);
    }
}

.comments_number {
    font-size: 12px;
    height: 17px;
    margin-left: 5px;
    display: inline-block;
    line-height: 17px;
}