$color-flat-white: #fff;
$white: #fff;
.white {
    color: $white;
}

.bg-white {
    background-color: $color-flat-white;
}

$color-flat-black: #000;
$black: #000;  
.black {
    color: $color-flat-black;
}

.bg-black {
    background-color: $color-flat-black;
} 

$brand-grey: #828282;

$off-black:#2E2E2E;


